DATABASE_URL="postgresql://user:password@ep-xxxx.neon.tech/deskdrop?sslmode=require"
NEXTAUTH_SECRET="replace-with-generated-secret"
NEXTAUTH_URL="http://localhost:3000"

IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT=""